.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user-list__card {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.user-list__error {
  color: #CC2936;
}

.user-list__card p {
  font-size: 24px;
}

.user-list__card img {
  width: 100px;
  border-radius: 100px;
}
